# Ignore dataset folder
/Dataset-1 (1)/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Compiled binaries
*.o
*.out
*.exe
test_binaries/test_binary

# Logs
*.log

# Environment files
.env
.venv/
